* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background: url("../Image/10.jpg") center/cover no-repeat;
  margin-top: 0%;
}

.navbar {
  overflow: hidden;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 60vh;
}

.navbar .menu-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}

.navbar .menu-icon:hover {
  color: gold;
}

.logo {
  text-decoration: none;
  color: crimson;
  font-size: xx-large;
  font-family: cursive;
  font-weight: bolder;
}

.nav-links {
  list-style-type: none;
  font-family: cursive;
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 500;
  font-size: xx-large;
}
.nav-links li {
  margin: 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  background-color: rgb(146, 98, 8);
  border-radius: 40px;
}

.bar {
  width: 100%;
  min-height: 5vh;
  margin-left: 27%;
  font-family: cursive;
}

.searchbar {
  width: 100%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 7px 13px;
  backdrop-filter: blur(4px) saturate(180%);
}

.searchbar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 17px 15px;
  font-size: medium;
  color: bisque;
}

::placeholder {
  color: #a94dcb;
  font-size: large;
}

.searchbar button {
  border-radius: 30%;
  background: rgba(255, 255, 255, 0.2);
  height: 8vh;
  box-shadow: black;
}

@media(max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .navbar .logo {
    order: 0;
    margin-right: 20%;
  }

  .bar {
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: cursive;
  }

  .searchbar {
    width: 80%;
    padding: 0%;
    height: auto;
    backdrop-filter: blur(4px) saturate(180%);
  }

  .searchbar input {
    padding: auto;
    font-size: medium;
    color: bisque;
  }

  .searchbar button {
    border-radius: 30%;
    background: rgba(255, 255, 255, 0.2);
    height: 6vh;
    box-shadow: black;
  }

  .navbar .nav-links {
    font-family: cursive;
    font-size: x-large;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-item .dropdown {
    font-size: x-large;
    font-weight: 600;
  }

  .navbar .nav-links a {
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  .navbar .menu-icon {
    display: block;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dropdown {
  display: inline-block;
  margin: 20px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #071a2d;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1;
}

.dropdown-menu a {
  color: white;
  text-decoration: none;
  padding: 12px 16px;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #4CAF50;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.project1 {
  background-image: url("../Image/12.avif");
  background-size: cover;
  margin-top: 3px;
  margin-bottom: 3px;
}

.project1 a {
  color: whitesmoke;
  margin-top: 7px;
  margin-bottom: 7px;
  font-family: cursive;
  font-size: xx-large;
  font-weight: 600;
  text-decoration: none;
}

.project1 a:hover {
  color: wheat;
  margin-top: 7px;
  margin-bottom: 7px;
}

.project {
  margin-top: 3px;
  background-image: url("../Image/12.avif");
}

.project a {
  text-decoration: none;
  font-style: italic;
  color: whitesmoke;
  font-weight: 600;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: xx-large;
}

.project a:hover {
  color: rgb(30, 193, 30);
}

@media (max-width:600px) {
  .project1 a {
    color: whitesmoke;
    margin-top: 7px;
    margin-bottom: 7px;
    font-family: 'cursive';
    font-size: large;
    font-weight: 400;
    text-decoration: none;
  }

  .project1 a:hover {
    color: rgba(16, 170, 217, 0.662);
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .project a {
    text-decoration: none;
    font-style: italic;
    color: whitesmoke;
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: large;
  }

  .project a:hover {
    color: goldenrod;
  }
}

.carousel-inner {
  width: 100%;
  height: 0%;
}

.carousel-item h5 {
  background-color: brown;
}

.carousel-item p {
  background-color: forestgreen;
}

.btn {
  background-color: black;
  justify-content: end;
}

.img-container {
  justify-content: center;
  background-position: cover;
}

.aalu {
  margin: 5px;
  display: flex;
  background-color: rgb(6, 56, 6);
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 8px;
  box-shadow: o 4px 8px rgba(0, 0, 0, 0.1);
}

.para-wrap {
  background-image: url("../Image/blue.jpg");
  margin-top: 4px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para-wrap p {
  margin: 3%;
  font-size: 30px;
  font-weight: bolder;
  color: 5px solid black;
  justify-content: center;
}

@media (max-width:992px) {
  .para-wrap p {
    font-size: 30px;
    color: rgb(9, 34, 43);
    justify-content: center;
  }
}

@media (max-width:600px) {
  .para-wrap p {
    font-size: 15px;
    color: rgba(19, 171, 191, 0.758);
    justify-content: center;
  }
}

iframe {
  width: 100%;
  height: 80vh;
  border: 1px solid #817979;
  border-radius: 3.5%;
}

iframe:hover {
  box-shadow: 0 0 10px rgba(148, 20, 20, 0.937);
}

@media(max-width:600px) {
  iframe {
    height: 40vh;
  }
}

footer {
  background-color: rgb(13, 72, 39);
  color: black;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 2px 2px;
  block-size: auto;
  font-weight: bolder;
  font-size: x-large;
  font-weight: 800;
}

.pagination {
  margin-top: 3px;
  margin-bottom: 3px;
  text-decoration: rgb(55, 132, 132);
  font-family: cursive;
  background-color: darkslategray;
  justify-content: center;
  height: 45px;
}

.pagination a {
  margin-top: 1%;
  color: sienna;
  font-family: cursive;
  font-weight: bold;
  font-size: large;
  border-radius: 15%;
  border-color: goldenrod;
  background-color: grey;
}

@media (max-width:600px) {
  .carousel-item h5 {
    background-color: brown;
  }

  a {
    text-decoration: none;
    font-family: cursive;
    font-size: medium;
    color: brown;
  }

  footer {
    margin: 0%;
    height: 60px;
    justify-content: center;
    font-size: larger;
    font-weight: 600;
  }

  .pagination {
    margin-top: 5px;
    justify-content: center;
  }
}

#chat-container {
  width: 450px;
  height: 500px;
  position: fixed;
  bottom: 70px;
  right: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: none;
  background-color: #ccc;
}

@keyframes slideIn {
  from {
    transform: translateX(100%) translateY(100%);
  }

  to {
    transform: translateX(0) translateY(0);
  }
}

#chat-messages {
  max-height: 200px;
  overflow-y: auto;
  margin-top: 1vh;
  padding: 10px;
  background-color: white;
}

#user-input {
  padding: 10px;
  background-color: #f4f4f4;
  margin-top: 29vh;
}

#user-message {
  width: calc(100% - 74px);
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#send-btn {
  width: 60px;
  background-color: #4caf50;
  color: #fff;
  padding: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#toggle-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: transparent;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

#toggle-btn img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.rdr {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.rdr button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.rdr button:hover {
  color: #ddd;
}

.close-btn {
  float: right;
}

.chat-content {
  padding: 10px;
}

.suggestion-box {
  padding: 10px;
  border-top: 1px solid #ccc;
}

.suggestion {
  display: inline-block;
  margin: 5px;
  background-color: #047608;
  color: #000000;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #45a049;
}

.message {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

.user-message {
  background-color: #f0f0f0;
  text-align: right;
}

.bot-message {
  background-color: white;
  color: #071a2d;
  font-weight: 500;
  font-family: cursive;
}